In [44]:
import pandas as pd
import numpy as np
movies = pd.read_csv('movies.dat', delimiter='::', engine='python', names=["Code","Name","Genre"])

Per llegir l'arxiu .dat he utilitzat la llibreria pandas. Si es mira al fitxer original es pot veure com cada columna estava delimitada per "::".
El primer error que he trovat ha sigut que al llegir l'arxiu, es creava un dataframe sense noms en les columnes. La millor manera d'assignar-li un nom a cadascuna de les columnes es des de el principi ja que si no es fa així es perd el primer registre que és la película de Toy Story.

In [45]:
movies

      Code                                Name                         Genre
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [46]:
movies.shape #3882 registres o files i 3 columnes

(3883, 3)

In [47]:
movies.columns # Nom de les columnes

Index(['Code', 'Name', 'Genre'], dtype='object')

Ara vull separar l'any i possar-lo en una nova columna.

In [43]:
movies['Year'] = movies.Name.str.slice(-5,-1) #Agafo l'any de la columa Name i el posso a la nova columna Year.

movies['Name'] = movies.Name.str.slice(0,-6) #Elimino l'any de la columna Name
movies

      Code                          Name                         Genre  Year
0        1                    Toy Story    Animation|Children's|Comedy  1995
1        2                      Jumanji   Adventure|Children's|Fantasy  1995
2        3             Grumpier Old Men                 Comedy|Romance  1995
3        4            Waiting to Exhale                   Comedy|Drama  1995
4        5  Father of the Bride Part II                         Comedy  1995
...    ...                           ...                           ...   ...
3878  3948             Meet the Parents                         Comedy  2000
3879  3949          Requiem for a Dream                          Drama  2000
3880  3950                    Tigerland                          Drama  2000
3881  3951             Two Family House                          Drama  2000
3882  3952               Contender, The                 Drama|Thriller  2000

[3883 rows x 4 columns]